body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('https://source.unsplash.com/1600x900/?nature') no-repeat center center fixed;
    background-size: cover;
}

.registration-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.registration-card {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

h2 {
    color: #28a745;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1px;
}

.text-muted {
    color: #6c757d;
    text-align: center;
    margin-bottom: 5px;
}

.btn-gradient {
    background: linear-gradient(to right, #28a745, #218838);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
    text-align: center;
}

.btn-gradient:hover {
    background: linear-gradient(to right, #218838, #28a745);
    box-shadow: 0 4px 10px rgba(40, 167, 69, 0.5);
}

.form-control {
    border-radius: 25px;
    padding: 9px 14px;
    border: 1px solid #ddd;
    font-size: 12px;
    margin-bottom: 13px;
}

.form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.text-decoration-none {
    color: #007bff;
}

.text-decoration-none:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 1rem;
}
